<div class="container">
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej. Demo"
        #input
      />
    </mat-form-field>
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Progress Column -->
        <ng-container matColumnDef="cantidadInscritos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CantidadInscritos</th>
          <td mat-cell *matCellDef="let row">{{ row.cantidadInscritos }}</td>
        </ng-container>
  
        <ng-container matColumnDef="numeroMesa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Mesa</th>
          <td mat-cell *matCellDef="let row">{{ row.numeroMesa }}</td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="openEditForm(row)">
              <mat-icon>Editar</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteCandidato(row.numeroMesa)">
              <mat-icon>Eliminar</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No se encuentra "{{ input.value }}"
          </td>
        </tr>
      </table>
      <div class="text-center mb-5">
        <button mat-raised-button (click)="openAddEditEmpForm()" type="button" class="btn btn-dark">Añadir</button>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
  <app-footer-user></app-footer-user>