<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Acerca de nosotros</h4>
                <p class="lead mb-0">
                  Bienvenido a System Votacion, tu fuente confiable de información electoral,
                  en el corazón de nuestra misión está el compromiso de empoderar a la comunidad con 
                  conocimiento para tomar decisiones informadas durante el proceso electoral.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Nuestra redes sociales</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://web.facebook.com/GobCauca/?_rdc=1&_rdr"><i class="fab fa-fw fa-facebook-f"></i></a> 
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/GobCauca"><i class="fab fa-twitter"></i></a>   
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/GobCauca/"><i class="fab fa-instagram"></i></a>    
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UCJUgHfrUdzJojR2Ktao7fHw"><i class="fab fa-youtube"></i></a>                                                        
            </div>
            <!-- Footer About Text-->
        </div>
    </div>
  </footer>
