<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Protección de la Información</h4>
                <p class="lead mb-0">
                    Tomamos medidas para proteger tu información personal y garantizar su confidencialidad. Empleamos prácticas de seguridad estándar de la industria y tecnologías para proteger contra el acceso no autorizado, la divulgación, la alteración y la destrucción de datos.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contactenos</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://web.facebook.com/GobCauca/?_rdc=1&_rdr"><i class="fab fa-fw fa-facebook-f"></i></a> 
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/GobCauca"><i class="fab fa-twitter"></i></a>   
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/GobCauca/"><i class="fab fa-instagram"></i></a>    
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UCJUgHfrUdzJojR2Ktao7fHw"><i class="fab fa-youtube"></i></a>                                                        
                <br>
                <p>
                    Tel: +57 3110002200
                </p>
            </div>
            <!-- Footer About Text-->
        </div>
    </div>
  </footer>
