.container{
  background: rgb(239, 239, 239);
  background: linear-gradient(
    234deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(33, 53, 85, 1) 0%,
    rgba(33, 53, 85, 1) 0%,
    rgba(33, 53, 85, 0.9935483870967742) 0%,
    rgba(239, 239, 239, 1) 0%,
    rgba(85, 100, 124, 1) 100%
  );
  font-family: Monserrat;
  margin-top: 30px;
  padding: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
