<div mat-dialog-title>
    <h1>Formulario Candidato</h1>
  </div>
  <form [formGroup]="partidoForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Lema</mat-label>
                <input matInput type="text" placeholder="Ex. Demo" formControlName="lema">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Ej. Demo" formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cantidad Inscritos</mat-label>
                <input matInput placeholder="Ej. 1" type="number" formControlName="cantidadInscritos">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Numero de Partido</mat-label>
                <input matInput placeholder="Ej. 1" type="number" formControlName="numeroPartido">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button>
    </div>
  </form>
  